			*{box-sizing:border-box;padding:0px;margin:0px;}
			#menu-s{display:none;}
			#menu-xl{display:block;}
			#wrapper{
				width:1240px;
				margin:0 auto;
				*border:solid 1px;
			}
			.row{
				*border:solid 1px red;
				*margin:5px;
			}
			.row-white{
				margin:40px 0;
				background-color:#fff;
				border:solid 1px #dad9d9;
				border-radius:3px;
			}
			.col10{
				width:10%;
			}
			.col15{
				width:15%;
			}
			.col40{
				width:40%;
			}
			.col25{
				width:25%;
			}
			.col10,.col15,.col25,.col33,.col40,.col50,.col60,.col90{
				float:left;
				*border:solid 1px blue;
				box-sizing:border-box;
			}			
			.col33{				
				width:33.33%;				
			}
			.col50{				
				width:50%;				
			}
			.col60{				
				width:60%;				
			}
			.col90{				
				width:90%;				
			}
			.clearfix::after{
				content:"";
				clear:both;
				display:table;
			}
			@media screen and (max-width: 1280px) {
				#wrapper{
					width:100%;
					margin:none;
				}
				#menu-s{display:none;}
				#menu-xl{display:block;}
			}
			@media screen and (max-width: 960px) {
				#wrapper{
					width:100%;
					margin:none;
				}
				.col50{				
					width:100%;				
				}
				.col25{
					width:50%;
				}
				.col40{
					width:100%;
				}
				.col15{
					width:25%;
				}
				#menu-s{display:none;}
				#menu-xl{display:block;}
			}
			@media screen and (max-width: 768px) {
				#wrapper{
					width:100%;
					margin:none;
				}
				.col33{				
					width:100%;				
				}	
				.col15{
					width:50%;
				}				
				#menu-s{display:block;}
				#menu-xl{display:none;}
			}
			@media screen and (max-width: 480px) {
				#wrapper{
					width:100%;
					margin:none;
				}
				.col50{				
					width:100%;				
				}
				.col25{
					width:100%;
				}
				.col40{
					width:100%;
				}
				.col15{
					width:100%;
				}	
				.col33{				
					width:100%;				
				}
				#menu-s{display:block;}
				#menu-xl{display:none;}				
			}
			.text-left{
				text-align:left;
			}
			.text-right{
				text-align:right;
			}
			.text-center{
				text-align:center;
			}