body {
    background-color: #292A2D;
}
.grid-item { width: 100%;}
.grid-item img { width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: white;
}

.center { text-align: center; margin: 0 auto; } 
.round { border-radius: 50%; }

nav { margin: 20px; display: block;}
nav * { display: inline-block; margin-bottom: 5px;}
nav > span { font-weight: bold;}
nav ul { margin: 0; padding: 0; float: right; list-style: none; }
nav ul li { margin: 0 10px; }
@media (max-width: 550px) { nav ul { width: 100%; } }
@media (max-width: 550px) { nav { text-align: center; } }